html, body {
	width: 100%;
	height: 100%;
	margin:0;
}
header {
  overflow: hidden;
  width: 960px;
  margin: 0 auto;
}
.brand {
  float: left;
}
.brand h3 {
  color: gray;
  margin-top: 0;
  font-size: 16px;
}
.brand h1 {
  color: darkgoldenrod;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 2px;
}
.menu {
  float: right;
  margin:0;
  padding: 0;
  list-style-type: none;
}
.menu li {
  display: inline;
}
.menu li a {
  float: left;
  padding: 8px 14px;
  color: black;
  text-decoration: none;
  margin: 20px 0;
}
.video-wrapper {
  position: relative;
  height: 500px;
  overflow: hidden;
}
.video-wrapper video {
  width: 100%;
  height: 450px;
  object-fit: cover;
  position: absolute;
  top: 0;
}
.screen {
  height: 500px;
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  opacity: 0.2;
  background-color: #6d706a;
  background-image: url(https://www.transparenttextures.com/patterns/classy-fabric.png);
}
.caption {
  z-index: 1500;
  position: absolute;
  top: 350px;
  left: 150px;
  color: white;
  background-color: black;
  padding: 0 15px;
  opacity: 0.5;
  font-size: 24px;
}
.caption span {
  display: block;
  margin-top: 15px;
}
.content {
  width: 960px;
  overflow: hidden;
  margin: 15px auto 0 auto;
}
.columns {
  width: 465px;
  float: left;
}
.column-right {
  margin-right: 30px;
}